.brown-outline-Btn{
  border: 2px solid #920d37;
  color: #920d37;
}

.brown-outline-Btn:hover{
  color: white;
  background-color: #920d37;
}

.brown-btn{
  color: whitesmoke;
  border: 2px solid;
  background-color: #920d37;
}

.brown-btn:hover{
  color: white;
  border: 2px solid;
  background-color: #750a2c;
}